@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-Medium";
  src: url('../fonts/Gilroy-Medium.woff');

}

@font-face {
  font-family: "Gilroy-Bold";
  src: url('../fonts/Gilroy-Bold.woff');
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url('../fonts/Gilroy-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy-HeavyItalic";
  src: url('../fonts/Gilroy-HeavyItalic.woff');
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy-Extrabold";
  src: url('../fonts/Gilroy-Extrabold.woff');
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy-Semibold";
  src: url('../fonts/Gilroy-Semibold.woff');
  font-weight: 400;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  font-family: "Gilroy-Medium", "sans-serif" !important;
  background: #F3F4F5;
}
.fotter_d{
position:absolute;
left:0;
bottom:0;
right:0;
} 
