@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-Medium";
  src: url('../fonts/Gilroy-Medium.woff');

}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  font-family: "Gilroy-Medium", "sans-serif" !important;
  background: rgb(59 130 246);
}
.fotter_d{
position:absolute;
left:0;
bottom:0;
right:0;
} 
.Footercon{
  font-size: 20px;
}